[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
socrata-py = "*"

[dev-packages]
pytest = "*"
requests-mock = "*"
autopep8 = "*"
pipreqs = "*"

[requires]
python_version = "3.9"
